@*@using Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager*@
<aside class="main-sidebar elevation-2 sidebar-light-primary">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
        <img src="~/assets/adminlte/img/boxed-bg.png"
             alt="Social Security Logo"
             class="brand-image img-circle elevation-0"
             style="opacity: .8">
        <div>
            <span class="brand-text font-weight-light">Social Security</span>
        </div>

    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        @*@if (SignInManager.IsSignedIn(User))
        {*@

            <div class="user-panel mt-3 pb-3 mb-3 d-flex">

                @*@if (UserManager.GetUserAsync(User).Result.ProfilePicture != null)
                {*@
                    @*<div class="image">
                        <img class="img-circle elevation-0" style="width:40px;height:40px; object-fit:cover; border-radius:30px" src="data:image/*;base64,@(Convert.ToBase64String(UserManager.GetUserAsync(User).Result.ProfilePicture))">
                    </div>*@
                @*}*@

                <div class="info">
                    <a href="#" class="d-block">
                        @*@UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName @{
                            if (User.IsInRole("SuperAdmin"))
                            {*@
                                @*<span class="badge badge-danger">SA</span>*@
                            @*}*@
                            @*else if (User.IsInRole("Basic"))*@
                            @*{*@
                                <span class="badge badge-success">BASIC</span>
                            @*}
                        }*@
                    </a>
                </div>
            </div>
        @*}*@


        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a is-active-page asp-page="/Index" class="nav-link">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Home
                        </p>
                    </a>
                </li>

                @*<li class="nav-item">
            <a href="/" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    Document Repository
                </p>
            </a>
        </li>*@

            <li class="nav-item has-treeview">
                <a is-active-page asp-area="" asp-page="" class="nav-link">
                    <i class="nav-icon fas fa-cog"></i>
                    <p>
                        Config tables
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>


                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="TableAdmin" asp-action="Index" asp-route-title="Collections" asp-route-apicall="TableCollections" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Collection</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="TableAdmin" asp-action="Index" asp-route-title="Countries" asp-route-apicall="TableCountries" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Country</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="TableAdmin" asp-action="Index" asp-route-title="Districts" asp-route-apicall="TableDistricts" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>District</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="TableAdmin" asp-action="Index" asp-route-title="DocumentTypes" asp-route-apicall="TableDocumentTypes" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Document Type</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="TableAdmin" asp-action="Index" asp-route-title="EmploymentTypes" asp-route-apicall="TableEmploymentTypes" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Employment Type</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="TableAdmin" asp-action="Index" asp-route-title="Industries" asp-route-apicall="TableIndustries" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Industry</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="TableAdmin" asp-action="Index" asp-route-title="Marital Statuses" asp-route-apicall="TableMaritalStatuses" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Marital Status</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="TableAdmin" asp-action="Index" asp-route-title="Nationalities" asp-route-apicall="TableNationalities" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Nationality</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="TableAdmin" asp-action="Index" asp-route-title="Occupations" asp-route-apicall="TableOccupations" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Occupation</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="TableAdmin" asp-action="Index" asp-route-title="Parishes" asp-route-apicall="TableParishes" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Parish</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="TableAdmin" asp-action="Index" asp-route-title="Postal Codes" asp-route-apicall="TablePostalCodes" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Postal Code</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="TableAdmin" asp-action="Index" asp-route-title="Post Offices" asp-route-apicall="TablePostOffices" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Post Office</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="TableAdmin" asp-action="Index" asp-route-title="Streets" asp-route-apicall="TableStreets" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Street</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="TableAdmin" asp-action="Index" asp-route-title="Task Priorities" asp-route-apicall="TableTaskPriorities" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Task Priority</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="TableAdmin" asp-action="Index" asp-route-title="Task Reference Types" asp-route-apicall="TableTaskReferenceTypes" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Task Reference Type</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="TableAdmin" asp-action="Index" asp-route-title="Task Status" asp-route-apicall="TableStatuses" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Task Status</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="TableAdmin" asp-action="Index" asp-route-title="Task Types" asp-route-apicall="TableTaskTypes" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Task Type</p>
                        </a>
                    </li>
                </ul>

            </li>




                <li class="nav-item has-treeview">
                    <a is-active-page asp-area="" asp-page="" class="nav-link">
                        <i class="nav-icon fas fa-user-friends"></i>
                        <p>
                            Tasks
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a is-active-page asp-area="Appointments" asp-controller="KanbanTask" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Search</p>
                            </a>
                        </li>
                    </ul>
                </li>


                <li class="nav-header">Settings</li>
                <li class="nav-item">
                    <a is-active-page asp-area="Identity" asp-page="/Account/Manage/Index" class="nav-link">
                        <i class="nav-icon fas fa-cogs"></i>
                        <p>
                            Account Settings
                        </p>
                    </a>
                </li>
                @*@{
        if (User.IsInRole("SuperAdmin"))
        {*@
                <li class="nav-header">SUPER ADMIN</li>
                <li class="nav-item">
                    <a is-active-page asp-area="Identity" asp-page="/Account/Users" class="nav-link">
                        <i class="nav-icon fas fa-users-cog"></i>
                        <p>
                            Manage User Roles
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a is-active-page asp-area="Identity" asp-page="/Account/Roles" class="nav-link">
                        <i class="nav-icon fas fa-user-lock"></i>
                        <p>
                            Manage Roles
                        </p>
                    </a>
                </li>
                @*}
        }*@


            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>