@*@using Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager*@
<aside class="main-sidebar elevation-2 sidebar-light-primary">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
        <img src="~/assets/adminlte/img/boxed-bg.png"
             alt="Social Security Logo"
             class="brand-image img-circle elevation-0"
             style="opacity: .8">
        <div>
            <span class="brand-text font-weight-light">Social Security</span>
        </div>

    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        @*@if (SignInManager.IsSignedIn(User))
        {*@

            <div class="user-panel mt-3 pb-3 mb-3 d-flex">

                @*@if (UserManager.GetUserAsync(User).Result.ProfilePicture != null)
                {*@
                    @*<div class="image">
                        <img class="img-circle elevation-0" style="width:40px;height:40px; object-fit:cover; border-radius:30px" src="data:image/*;base64,@(Convert.ToBase64String(UserManager.GetUserAsync(User).Result.ProfilePicture))">
                    </div>*@
                @*}*@

                <div class="info">
                    <a href="#" class="d-block">
                        @*@UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName @{
                            if (User.IsInRole("SuperAdmin"))
                            {*@
                                @*<span class="badge badge-danger">SA</span>*@
                            @*}*@
                            @*else if (User.IsInRole("Basic"))*@
                            @*{*@
                                <span class="badge badge-success">BASIC</span>
                            @*}
                        }*@
                    </a>
                </div>
            </div>
        }


        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a is-active-page asp-page="/Index" class="nav-link">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Home
                        </p>
                    </a>
                </li>

                @*<li class="nav-item">
            <a href="/" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    Document Repository
                </p>
            </a>
        </li>*@

            <li class="nav-item has-treeview">
                <a is-active-page asp-area="" asp-page="" class="nav-link">
                    <i class="nav-icon fas fa-cog"></i>
                    <p>
                        Config tables
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>

                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="Allergy" asp-action="Index" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Allergy</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="AppointmentStatus" asp-action="Index" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Appointment Status</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="AppointmentType" asp-action="Index" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Appointment Type</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="BloodType" asp-action="Index" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Blood Type</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="City" asp-action="Index" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>City</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="Complaint" asp-action="Index" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Complaint</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="Country" asp-action="Index" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Country</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="Diagnosis" asp-action="Index" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Diagnosis</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="District" asp-action="Index" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>District</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="DocumentType" asp-action="Index" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Document Type</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="Drug" asp-action="Index" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Drug</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="EthnicOrigin" asp-action="Index" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Ethnic Origin</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="Examination" asp-action="Index" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Examination</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="ExaminationFee" asp-action="Index" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Examination Fee</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="ExaminationFeeType" asp-action="Index" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Examination Fee Type</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="Gender" asp-action="Index" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Gender</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="InsuranceProvider" asp-action="Index" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Insurance Provider</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="MaritalStatus" asp-action="Index" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Marital Status</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="MedicalAllergy" asp-action="Index" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Medical Allergy</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="Messenger" asp-action="Index" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Messenger</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="Nationality" asp-action="Index" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Nationality</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="NextOfKinRelationship" asp-action="Index" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Next Of Kin Relationship</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="Occupation" asp-action="Index" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Occupation</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="Parish" asp-action="Index" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Parish</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="PostalCode" asp-action="Index" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Postal Code</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="PostOffice" asp-action="Index" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Post Office</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="PrescriptionType" asp-action="Index" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Prescription Type</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="ProcedureFee" asp-action="Index" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Procedure Fee</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="ProcedureFeeType" asp-action="Index" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Procedure Fee Type</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="ProcedureType" asp-action="Index" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Procedure Type</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="ReferredBy" asp-action="Index" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>ReferredBy</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="Street" asp-action="Index" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Street</p>
                        </a>
                    </li>
                </ul>

                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="TaskPriority" asp-action="Index" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Task Priority</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="TaskReferenceType" asp-action="Index" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Task Reference Type</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="TaskStatus" asp-action="Index" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Task Status</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="TaskType" asp-action="Index" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Task Type</p>
                        </a>
                    </li>
                </ul>


                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="TestFee" asp-action="Index" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Test Fee</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="TestFeeType" asp-action="Index" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Test Fee Type</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="TestLocation" asp-action="Index" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>TestLocation</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a is-active-page asp-area="SystemTables" asp-controller="TestType" asp-action="Index" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Test Type</p>
                        </a>
                    </li>
                </ul>

            </li>


                <li class="nav-item has-treeview">
                    <a is-active-page asp-area="" asp-page="" class="nav-link">
                        <i class="nav-icon fas fa-user-friends"></i>
                        <p>
                            Patient
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a is-active-page asp-area="Patients" asp-controller="Patient" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Search</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item has-treeview">
                    <a is-active-page asp-area="" asp-page="" class="nav-link">
                        <i class="nav-icon fas fa-user-friends"></i>
                        <p>
                            Appointment
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a is-active-page asp-area="Appointments" asp-controller="Appointment" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Search</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item has-treeview">
                    <a is-active-page asp-area="" asp-page="" class="nav-link">
                        <i class="nav-icon fas fa-user-friends"></i>
                        <p>
                            Tasks
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a is-active-page asp-area="Appointments" asp-controller="KanbanTask" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Search</p>
                            </a>
                        </li>
                    </ul>
                </li>

                @*<li class="nav-item has-treeview">
            <a is-active-page asp-area="Mail" asp-page="/Compose" class="nav-link">
                <i class="nav-icon fas fa-mail-bulk"></i>
                <p>
                    Mail
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a is-active-page asp-area="Mail" asp-page="/Compose" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Compose Mail</p>
                    </a>
                </li>
            </ul>
        </li>*@

                <li class="nav-header">Settings</li>
                <li class="nav-item">
                    <a is-active-page asp-area="Identity" asp-page="/Account/Manage/Index" class="nav-link">
                        <i class="nav-icon fas fa-cogs"></i>
                        <p>
                            Account Settings
                        </p>
                    </a>
                </li>
                @*@{
        if (User.IsInRole("SuperAdmin"))
        {*@
                <li class="nav-header">SUPER ADMIN</li>
                <li class="nav-item">
                    <a is-active-page asp-area="Identity" asp-page="/Account/Users" class="nav-link">
                        <i class="nav-icon fas fa-users-cog"></i>
                        <p>
                            Manage User Roles
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a is-active-page asp-area="Identity" asp-page="/Account/Roles" class="nav-link">
                        <i class="nav-icon fas fa-user-lock"></i>
                        <p>
                            Manage Roles
                        </p>
                    </a>
                </li>
                @*}
        }*@


            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>